<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BitCoinPrice.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Commons.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>N26BC.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Networking.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Valuation.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18136875235D21D700A5FBC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1841065D23531A6A000AE46C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1841067323531A6C000AE46C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>187321E6235CAA2E00F22EB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>187321EE235CAA2E00F22EB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
